{# {{ basic_auth_with('demo', 'kakunin') }} #}
{% TemplateInclude "html head" %}

{# set current language #}
{%- set selectedLangLabel = '' -%}
{%- for key, lang in languages -%}
  {%- if key == language -%}
    {%- set selectedLangLabel = lang -%}
  {%- endif -%}
{%- endfor -%}

{# set current currency #}
{%- set currentCurrency = app.session.has('currency_unit') ? app.session.get('currency_unit') : is_authorized() ? app.security.token.user.settingCurrency : get_entity_manager().find("EcCoreBundle:Currency", system_config("base_currency")) -%}
{%- set selectedCurrencyLabel = '' -%}
{%- for key , item in supported_currencies -%}
  {%- set currency = get_entity_manager().find("EcCoreBundle:Currency", item) -%}
  {%- set name = currency.code -%}
  {%- if name == currentCurrency -%}
    {%- set selectedCurrencyLabel = name -%}
  {%- endif -%}
{%- endfor -%}
{%- if not selectedCurrencyLabel -%}
  {%- set currency = get_entity_manager().find("EcCoreBundle:Currency", supported_currencies|first) -%}
  {%- set selectedCurrencyLabel = currency.code -%}
{%- endif -%}

<body class="lc-root">
  
  <a id="top"></a>
  
  <header class="l-header">
    <h1 class="l-header__logo"><a href="{{ path("homepage") }}"><img src="{{ asset("assets/img/logo.svg") }}" alt=""/></a></h1>
      <div class="l-header__right">
        <ul class="l-header__list">
          <li class="l-header__item only-pc"> <a href="{{ path("homepage") }}">Top</a></li>
          <li class="l-header__item product-menu"><a href="/">Product</a>
            <ul class="product-list">
              <li><a href="/aojiru">薩摩桑葉青汁</a></li>
              <li><a href="/kuwacha">薩摩桑葉茶</a></li>
            </ul>
          </li>
          <li class="l-header__item"> <a href="/">About</a></li>
        </ul>
        <div class="l-header__sns">
          <a href="#"><img src="{{ asset("assets/img/ico_facebook.svg") }}" alt=""/></a>
          <a href="#"><img src="{{ asset("assets/img/ico_insta.svg") }}" alt=""/></a>
        </div>
      </div>
    </header>

  <main class="l-main">